

<nav> 
    <ul>
     <li>
                    <a href='@Url.Action("Index", "Home")'>
                        <img src = "/IMG/bandera Arg.png">
                    </a>
                </li>
                <li>
                   <a href='@Url.Action("Elecciones")'>Elecciones 2023</a>
                  
                </li>
                <li>
                   <a href='@Url.Action("Creditos", "Home")'>
                        Créditos
                    </a>
                </li>  
        </ul>
</nav>              